<div data-ng-controller="indexCtrl" class="index-page">
  <div class="row">
    <div class="col md-12">
      <h1>Hello!</h1>
      <h2>In here, everyone is a square</h2>
      <div ng-show="sqr" ng-click="goToMe()">
        <sqr sqr="sqr"></sqr>
      </div>
      <button type="button" ng-show="!sqr" class="btn btn-info" data-ng-click="showCreateModal()">
        Create SQR
      </button>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="s in sqrs" class="sqr-list-item">
      <a href="#/user/{{s.id}}"><sqr sqr="s"></sqr></a>
    </div>
  </div>
  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create SQR</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="sqrName">Choose a name</label>
              <input type="text" class="form-control" id="sqrName" data-ng-model="name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-info" ng-click="createSqr()">Create SQR</button>
        </div>
      </div>
    </div>
  </div>
</div>
